.row
  = form_for @field do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :shape
      = f.text_area :shape, class: 'form-control', rows: 5
    .form-group
      = f.submit  nil, class: 'btn btn-primary'
