<script>
    var map = L.map('map').setView([43.1249, 1.254], 13);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        maxZoom: 18,
        id: 'grbro.128f9cf3',
        accessToken: 'pk.eyJ1IjoiZ3Jicm8iLCJhIjoiZmM0OWRhM2U2ZDZmMjA3MjkxNjc2YmQyOWE0ZGIzNWQifQ.0UeJF5ZVjBi3TK8CKp1EpQ'
    }).addTo(map);

    var drawnItems = new L.featureGroup();
    map.addLayer(drawnItems);

    var geojsonFeature = <%= @geo_data %>;
    var coordinates = geojsonFeature == null ? [] : geojsonFeature.coordinates;

    var polygonArr = [];
    coordinates.forEach(function(item, i, arr) {
        polygonArr.push({
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": item
            }
        });
    });

    var polygon = L.geoJson(polygonArr, {
        onEachFeature: function(feature, layer) {
            drawnItems.addLayer(layer);
        }
    }).addTo(map);

    var drawControl = new L.Control.Draw({
        draw: {
            polyline: false,
            rectangle: false,
            circle: false,
            marker: false
        },
        edit: {
            featureGroup: drawnItems
        }
    });
    map.addControl(drawControl);

    map.on('draw:created', function (e) {
        var layer = e.layer;
        drawnItems.addLayer(layer);
        saveLayers(drawnItems);
    });

    map.on('draw:edited', function () {
        saveLayers(drawnItems);
    });

    map.on('draw:deleted', function () {
        saveLayers(drawnItems);
    });

    var getCoords = function(drawnItems) {
        var coords = [];
        drawnItems.eachLayer(function(layer) {
            value = layer.toGeoJSON();
            coords.push(value.geometry.coordinates);
        });
        return coords;
    };

    var getMultiPolygon = function(shapes) {
        return {
            "type": "Feature",
            "geometry": {
                "type": "MultiPolygon",
                "coordinates": shapes
            }
        };
    };

    var saveLayers = function(drawnItems) {
        var shapes = getCoords(drawnItems);
        var mp = getMultiPolygon(shapes);

        $.ajax({
            method: "PATCH",
            url: "/fields/<%= @field.id %>",
            data: {'field[shape]': JSON.stringify(mp.geometry), 'field[name]': "<%= @field.name %>"},
            dataType: "script",
            success: processSuccess,
            error: processError
        });
    };

    var processSuccess = function(data) {
        if (data.status === 'ok') {
            console.log('Just posted some valid GeoJSON!');
        } else if (data.status === 'error') {
            console.log('There was a problem with GeoJSON: ' + data.message);
        }
    }

    var processError = function() {
        console.log('There was a problem with ajax.');
    }
</script>