<script>
    var map = L.map('map').setView([43.1249, 1.254], 13);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        maxZoom: 18,
        id: 'grbro.128f9cf3',
        accessToken: 'pk.eyJ1IjoiZ3Jicm8iLCJhIjoiZmM0OWRhM2U2ZDZmMjA3MjkxNjc2YmQyOWE0ZGIzNWQifQ.0UeJF5ZVjBi3TK8CKp1EpQ'
    }).addTo(map);

    var drawnItems = new L.featureGroup();
    map.addLayer(drawnItems);

    var geojsonItems = <%= @geo_data %>;
    geojsonItems.forEach(function(geojsonFeature, i, arr) {
        var coordinates = geojsonFeature == null ? [] : geojsonFeature.coordinates;

        var polygonArr = [];
        coordinates.forEach(function(item, i, arr) {
            polygonArr.push({
                "type": "Feature",
                "geometry": {
                    "type": "Polygon",
                    "coordinates": item
                }
            });
        });

        var polygon = L.geoJson(polygonArr, {
            onEachFeature: function(feature, layer) {
                drawnItems.addLayer(layer);
            }
        }).addTo(map);
    });
</script>