.row
  .col-md-12
    #map
      = render 'map_index'
%hr
.row
  .col-md-12
    - @fields.each do |field|
      .container-fluid
        .col-md-10
          %h4= link_to field.name, field_path(field)
        .col-md-2.text-center
          = link_to 'Edit', edit_field_path(field), class: 'btn btn-xs btn-primary'
          = link_to 'Delete', field, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
      %hr