.row
  .col-md-10
    %h4 Name: #{@field.name}
  .col-md-2.text-center
    = link_to 'Edit', edit_field_path(@field), class: 'btn btn-xs btn-primary'
    = link_to 'Delete', @field, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
  .col-md-12
    %h5.shape
      = render 'shape'
    %h5.errors.text-danger
    #map
      = render 'map'
