<% if @field.errors.present? %>
    <% @field.errors.full_messages.each do |message| %>
        $('.errors').html('<%= j message %>');
        $('.shape').html('<%= j render 'fields/shape' %>');
    <% end %>
<% else %>
    $('.shape').html('<%= j render 'fields/shape' %>');
    $('.errors').html('');
<% end %>