<!DOCTYPE html>
<html>
<head>
  <title>Gis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="container">
  <section class="col-md-12">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Brand', root_path, class: 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to('Add new field', new_field_path)  %>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <% flash.each do |name, msg| %>
        <script>
            setTimeout(function(){
                $('#flash-notice').slideUp();
            }, 1500);
        </script>
        <div id="flash-notice" class='alert alert-<%= name == "notice" ? "success" : "error" %>'>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= msg %>
        </div>
    <% end %>

    <section class="col-md-12">
      <%= yield %>
    </section>

  </section>
</section>

</body>
</html>
